body {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 400;
  overflow: hidden;
}

#main-app{
  -webkit-app-region: drag;
  background-color: #F0E8DD;
  border-radius: 25px;
  padding-bottom: 5vh;
  height: 100%;
}

button{
  background-color: transparent;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#changeLocation{
  background-image: url(assets/icons/iconLocation.png);
}
#close{
  background-image: url(assets/icons/iconExit.png);
}
#minimize{
  background-image: url(assets/icons/iconminimize.png);
}

#options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  border-radius: 25px 25px 0px 0px;
  padding-top: .7rem;
  padding-left: .8rem;
}

#rightButtons{
  display: flex;
  gap: 0.5rem;
  padding-right: .8rem;
}

#temperature{
  position: absolute;
  font-size: 3rem;
  margin-top: -8vh;
  margin-left: 1.3rem;
  padding: 0;
}

#weather{
  background-image: url(assets/backgrounds/sun-export.png);
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: center;
  height: 70vh;
  margin-top: 2rem;
}

#location{
  position: relative;
  bottom: 17vh;
  text-align: center;
}

#description{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.3rem;
  justify-content: center;
  text-transform: uppercase;
}

#forecast{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: calc(0% + 2rem);
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4rem);
  margin: 0rem,2rem,4rem,2rem;
  height: 15vh;
}

#day{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: center;
  justify-content: center;
}

#day h3, #day h4{
  margin: 0;
  padding: 0;
}

#day img{
  margin: 0;
  padding: 0;
}

